<%# Moments %>
<section class="row w-100">
  <%# Moments Navigation%>
  <div class="col-2">
    <%# Navigation %>

    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
      <nav class="nav nav-pills flex-column">
        <%# Keep track of years added to nav %>
        <% let navYears = [] %>
        <% for(let i = 0; i < momentsGrouped.length; i++) { %>
          <% const momentGroup = momentsGrouped[i] %>
  
  
          <% if(!navYears.includes(momentGroup._id.year)) { %>
            <% navYears.push(momentGroup._id.year) %>
            <a class="nav-link" href="#moment-<%= momentGroup._id.year %>"><%= momentGroup._id.year %></a>
            <nav class="nav nav-pills flex-column">
          <% } %>

          <a class="nav-link ms-3 my-1" href="#moment-<%= momentGroup._id.year %>-<%= momentGroup._id.month %>"><%= momentGroup._id.month %></a>
          
        <% } %>
        
        </nav>
      </nav>
    </nav>
  </div>
</section>

 <%# Moments%>
 <section class="row p-0 m-0 w-100">
  <div class="col">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
      <div class="row" data-masonry='{"percentPosition": true }' style="position: relative; height: 544px;">
      
          <% let momentYears = [] %>
          <% for(let i = 0; i < momentsGrouped.length; i++) { %>
            <% const momentGroup = momentsGrouped[i] %>

            <% if(!momentYears.includes(momentGroup._id.year)) { %>
              <% momentYears.push(momentGroup._id.year) %>
              <div class="col-sm-6 col-lg-4 p-1" id="moment-<%= momentGroup._id.year %>">
                <div style="background-color: rgb(206, 206, 206, .2); border: none;">
                  <h5 class="text-center" style="font-size: xx-large; font-family: 'Bebas Neue', sans-serif;"><%= momentGroup._id.year %></h5>
                </div>
              </div>
            <% } %>
  
            <% for(let j = 0; j < momentGroup.momentData.length; j++) { %>
              <% const momentData = momentGroup.momentData[j] %>
              <% const momentType = momentData.momentType %>
    
              <%# Journal %>
              <% if(momentType === 'journal') { %>
                <div class="col-sm-6 col-lg-4 p-1" 
                <% if(j === 0) { %>
                  id="moment-<%= momentGroup._id.year %>-<%= momentGroup._id.month %>"
                  <% } %>
                  >
                  <div class="card border-secondary mb-3">
                    <div class="card-header"><i class="fa-regular fa-book" style="font-weight: 900;"></i> Journal</div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text"><%= momentData.journalEntry %></p>
                    </div>
                    <% if(momentData.caption) { %>
                      <div class="card-footer"><%= momentData.caption %></div>
                    <% } %>
                  </div>
                </div>
              
              <%# Photo %>
              <% } else if(momentType === 'photo') { %>
                <div class="col-sm-6 col-lg-4 p-1" 
                <% if(j === 0) { %>
                  id="moment-<%= momentGroup._id.year %>-<%= momentGroup._id.month %>"
                  <% } %>
                  >
                  <div class="card border-secondary mb-3">
                    <img src="<%= momentData.momentImage %>" class="card-img-top">
                    <% if(momentData.caption) { %>
                      <div class="card-footer"><%= momentData.caption %></div>
                    <% } %>
                  </div>
                </div>

                <%# Location %>
                <% } else if(momentType === 'location') { %>
                  <div class="col-sm-6 col-lg-4 p-1" 
                  <% if(j === 0) { %>
                    id="moment-<%= momentGroup._id.year %>-<%= momentGroup._id.month %>"
                    <% } %>
                    >
                    <div class="card text-dark bg-light mb-3">
                      <div class="card-header"><i class="fa-solid fa-location-dot"></i> <%= momentData.location %></div>
                    </div>
                  </div>

                <%# Tweet %>
                <% } else if(momentType === 'twitter') { %>
                  <div class="col-sm-6 col-lg-4 p-1" 
                  <% if(j === 0) { %>
                    id="moment-<%= momentGroup._id.year %>-<%= momentGroup._id.month %>"
                    <% } %>
                    >
                    <div id="tweet-<%= momentData.tweetId %>"></div>
                  </div>
                  
                <% } %>
    
            <% } %>
          <% } %>
        </div>
      
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/twitter.js"></script>
  
<% for(let i = 0; i < momentsGrouped.length; i++) { %>
  <% const momentGroup = momentsGrouped[i] %>
  <% for(let j = 0; j < momentGroup.momentData.length; j++) { %>
    <% const momentData = momentGroup.momentData[j] %>
    <% const momentType = momentData.momentType %>

    <% if(momentType === 'twitter') { %>
      <script type="text/javascript">
        TwitterWidgetsLoader.load(function(err, twttr) {
        if(err) {
          console.error(err);
          return;
        }
      
        twttr.widgets.createTweet('<%= momentData.tweetId %>', document.getElementById('tweet-<%= momentData.tweetId %>'));
      });
      </script>
    <% } %>
  <% } %>
<% } %>

<!-- Masonry -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>