<%- include('partials/header') -%>

<%# Hero start %>
<div id="hero" class="d-flex justify-content-center align-items-center" style="background: url(<%= project.timelineThumb %>) no-repeat center center fixed; background-size: cover;">
  <div class="text-vcenter" style="width: 60vw;">
    <div class="branchInfo p-3">
      <h1><%= project.timelineName %></h1>

      <%# If moments exists in branch %>
      <% if( project.firstDate) { %>
        <h3 class="my-2"><%= project.firstDate.toLocaleString('en-US', { dateStyle: 'full' }) %> - <%= project.lastDate.toLocaleString('en-US', { dateStyle: 'full' }) %></h3>
      <% } %>

      <%# If branch description %>
      <% if( project.description) { %>
        <p class="my-2"><%= project.description %></p>
      <% } %>

      <% if( project.privacy === 'private' ) { %>
        <span class="badge rounded-pill bg-secondary text-light py-2 px-3 my-2">Private</span>
      <% } else { %>
        <span class="badge rounded-pill bg-warning text-dark py-2 px-3 my-2">Public</span>
      <% } %>
    </div>
  </div>
</div>
<%# Hero end %>

<%# if this branch belongs to user, show modals to edit, create, delete %>
<%if(project.user == user.id){ %>
  <%# Modals %>
  <div class="d-flex justify-content-md-end justify-content-center w-75 mx-auto my-5" id="branchModals">
    <div class="row">
      <%# New branch modal %>
      <div class="col">
        <button class="btn btn-light btn-outline-dark text-nowrap px-5 my-3" data-bs-toggle="modal" data-bs-target="#newMomentModal">
          New moment
        </button>
      </div>
      
        <%# Edit branch modal %>
        <div class="col">
          <button class="btn btn-light btn-outline-dark text-nowrap px-3 my-3" data-bs-toggle="modal" data-bs-target="#editBranchModal">
            Edit Branch
          </button>
        </div>
  
        <%# Delete branch %>
        <div class="col">
          <form
            action="/timelines/deleteBranch/<%= project._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-light btn-outline-dark text-nowrap px-3 my-3" type="submit">Delete Branch</button>
          </form>
        </div>
      
  
    </div>
  </div>
  <% } %>

  <%# No Moments text%>
  <% if(!moments.length) { %>
    <div class="row my-5">
      <div class="col text-center">
        <p class="mt-4 mb-0">
          You haven't created any moments yet!
        </p>
      </div>
    </div>
  <% } %>
  <%# No Moments end %>

<!-- Timeline start -->
<article class="container timeline">
  <div class="row">
    <section class="d-none d-lg-block col-md-4">
      <nav class="timeline__nav sticky-top"  style="width: 25vw;">

        <ul>
    
              <%# Moments %>

              <% for(let i = 0; i < momentsGrouped.length; i++) { %>
                <% const momentGroup = momentsGrouped[i] %>
                <% for(let j = 0; j < momentGroup.momentData.length; j++) { %>
                  <% const momentData = momentGroup.momentData[j] %>
                  <% const momentType = momentData.momentType %>

                    <li>
                      <span class="text-wrap">
                        <%= momentData.date.toLocaleString('en-US', { dateStyle: 'short' }) %>
                        &middot;
                        <%= momentData.momentType %>
                      </span>
                    </li>
            
                    <% } %>
                <% } %>
    
        </ul>
      </nav>
    </section>
  
    <%# Moments %>
    <section class="col-lg-8 timeline__section mt-5">

      <% for(let i = 0; i < momentsGrouped.length; i++) { %>
        <% const momentGroup = momentsGrouped[i] %>
        <% for(let j = 0; j < momentGroup.momentData.length; j++) { %>
          <% const momentData = momentGroup.momentData[j] %>
          <% const momentType = momentData.momentType %>

          <%# Moment start %>
          <div class="milestone p-3 my-2">
            <div class="my-2">
              <%= momentData.date.toLocaleString('en-US', { dateStyle: 'full' }) %>
            </div>

            <% if(momentData.location) { %>
              <p>
                In <%= momentData.location%>
              </p>
            <% } %>
            <% if(momentData.tweetId) { %>
              <div id="tweet-<%= momentData.tweetId %>" class="d-flex justify-content-center" style="overflow-y: auto;"></div>
            <% } %>
            <% if(momentData.journalEntry) { %>
              <p>
                <%= momentData.journalEntry %>
              </p>
            <% } %>
            <% if(momentData.momentImage) { %>
              <img src="<%= momentData.momentImage %>" class="rounded-3 img-fluid">
              <% if(momentData.caption) { %>
                <p><%= momentData.caption %></p>
              <% } %>
            <% } %>

            <%# Branch owner edit and delete buttons %>
            <%if(project.user == user.id){ %>
              <div class="row moment-edit-delete d-flex justify-content-end">
                <%# Edit moment %>
                <div class="col-1">
                  <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editMoment<%= momentData.momentId %>">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </div>

                <div class="modal fade" id="editMoment<%= momentData.momentId %>">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1>Edit moment</h1>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">

                        <form
                        action="/moments/<%= momentData.momentId %>/editMoment?_method=PUT"
                        method="POST"
                        enctype="multipart/form-data"
                        >

                        <div class="my-3">
                          <%# Edit date and time %>
                          <% const momentDate = new Date(momentData.date).toISOString().slice(0, 16) %>
                          <label for="date">Change date and time for this moment:</label><br>
                          <input type="datetime-local" id="date"
                            name="date" value="<%= momentDate %>">
                        </div>

                        <div class="my-3">
                          <%# Edit journal entries %>
                          <% if(momentData.momentType === 'journal') { %>
                            <label for="editJournalEntry">Journal entry:</label>
                            <textarea id="editJournalEntry" name="journal"
                            rows="5" cols="45"><%= momentData.journalEntry %></textarea>
                          <% } %>
                          <%# Edit location %>
                          <% if(momentData.momentType === 'location') { %>
                            <label for="editLocation">Location:</label>
                            <input type="text" id="editLocation" name="location"
                            minlength="1" size="10" value="<%= momentData.location %>">
                          <% } %>
                          <%# Edit Tweet %>
                          <% if(momentData.momentType === 'twitter') { %>
                            <label for="editTweet">Tweet ID:</label>
                            <small class="d-block">Provide the ID of a <em>public</em> tweet.</small>
                            <input type="text" id="editTweet" name="tweetId"
                            minlength="1" size="10" value="<%= momentData.tweetId %>">
                          <% } %>
                          <%# Edit photo %>
                          <% if(momentData.momentType === 'photo') { %>
                            <label for="editMomentImage" class="form-label">Replace Image</label>
                            <input type="file" class="form-control" id="editMomentImage" name="file">

                            
                            <label for="editCaption" class="form-label">Caption</label>
                            <input type="text" class="form-control" id="editCaption" name="caption" value="<%= momentData.caption %>">
                            
                          <% } %>
                        </div>

                        <div class="my-3">
                          <div class="col">
                            <button type="submit" class="btn btn-primary" value="Upload">Save</button>
                          </div>
                        </div>
                      </form>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <%# Delete moment %>
                <div class="col-1">
                  <form
                  action="/moments/<%= momentData.momentId %>/deleteMoment?_method=DELETE"
                  method="POST"
                  enctype="multipart/form-data"
                  >
                    <button class="btn btn-light" type="submit">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </form>
                </div>
                <%# Delete moment end %>
              </div>
              <% } %>
              <%# Branch owner edit and delete buttons end %>
          </div>
          <%# Moment end %>
        
            <%# Moment loop stop below %>
          <% } %>
        <% } %>
          
    </section>
  </div>
</article>
<!-- Timeline end -->


<%# Create a new moment modal %>
<div class="col mb-5">
  <div class="modal fade" id="newMomentModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Create a new moment</h1>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form action="/timelines/<%= project._id %>/createMoment" enctype="multipart/form-data" method="POST">

            <div class="mb-3">

              <% const now = new Date().toISOString().slice(0, 16) %>

              <label for="date">Choose a time for this moment:</label><br>
              <input type="datetime-local" id="date"
                    name="date" value="<%= now %>">
              
            </div>

            <div class="btn-group my-3" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="momentType" id="photo" autocomplete="off" value="photo" data-bs-toggle="collapse" data-bs-target=".momentImageContainer" aria-expanded="true" aria-controls="momentImageContainer" checked>
              <label class="btn btn-outline-dark" for="photo">Photo</label>
            
              <input type="radio" class="btn-check" name="momentType" id="journal" autocomplete="off" value="journal" data-bs-toggle="collapse" data-bs-target=".journalContainer" aria-expanded="false" aria-controls="journalContainer">
              <label class="btn btn-outline-dark" for="journal">Journal</label>
            
              <input type="radio" class="btn-check" name="momentType" id="location" autocomplete="off" value="location" data-bs-toggle="collapse" data-bs-target=".locationContainer" aria-expanded="true" aria-controls="locationContainer">
              <label class="btn btn-outline-dark" for="location">Location</label>
            
              <input type="radio" class="btn-check" name="momentType" id="twitter" autocomplete="off" value="twitter" data-bs-toggle="collapse" data-bs-target=".tweetIdContainer" aria-expanded="true" aria-controls="tweetIdContainer">
              <label class="btn btn-outline-dark" for="twitter">Twitter</label>
            </div>
            
            <%# hidden %>
            <input id="timelineProject" name="timelineProject" value="<%= project._id %>" hidden>
    
            <div id="collapseContainer">  
              <div class="mb-3 momentImageContainer show" data-bs-parent="#collapseContainer">
                <label for="momentImage" class="form-label">Image upload</label>
                <input type="file" class="form-control" id="momentImage" name="file">

                <div class="mb-3">
                  <label for="caption" class="form-label">Caption</label>
                  <input type="text" class="form-control" id="caption" name="caption">
                </div>
              </div>
              <div class="mb-3 locationContainer collapse" data-bs-parent="#collapseContainer">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location"
                minlength="1" size="10">


              </div>
              <div class="mb-3 tweetIdContainer collapse" data-bs-parent="#collapseContainer">
                <label for="tweetId">Tweet ID:</label>
                <input type="text" id="tweetId" name="tweetId"
                minlength="1" size="10">
                <small class="d-block">
                  Provide the ID of a <em>public</em> tweet.
                </small>
              </div>
              <div class="mb-3 journalContainer collapse" data-bs-parent="#collapseContainer">
                <label for="journalEntry">Journal entry:</label>
                <textarea id="journalEntry" name="journal"
                rows="5" cols="45"></textarea>


              </div>
              
              <button type="submit" class="btn btn btn-primary" value="Upload">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%# Create new moment modal end %>

<!-- js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="/js/timeline.js"></script>
<script type="text/javascript" src="/js/twitter.js"></script>
  
<% for(let i = 0; i < momentsGrouped.length; i++) { %>
  <% const momentGroup = momentsGrouped[i] %>
  <% for(let j = 0; j < momentGroup.momentData.length; j++) { %>
    <% const momentData = momentGroup.momentData[j] %>
    <% const momentType = momentData.momentType %>

    <% if(momentType === 'twitter') { %>
      <script type="text/javascript">
        TwitterWidgetsLoader.load(function(err, twttr) {
        if(err) {
          console.error(err);
          return;
        }
      
        twttr.widgets.createTweet('<%= momentData.tweetId %>', document.getElementById('tweet-<%= momentData.tweetId %>'));
      });
      </script>
    <% } %>
  <% } %>
<% } %>