<%- include('partials/header') -%>

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          
            <div class="ms-3" style="margin-top: 30px;">
              <h5 class="text-dark">
                <a href="/profile/<%= profile.id %>">
                  <i class="fas fa-arrow-left pr-1"></i>
                  <% if(profile.name) { %>
                    <%= profile.name %>
                  <% } else { %>
                    <%= profile.userName %>
                  <% } %>
                </a>
              </h5>
            </div>
          
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-center text-center py-1">

              <div class="px-3 w-100">
                <a href="/profile/<%= profile.id %>/followers">
                  <p class="mb-1 h5"><%= profile.followers.length %></p>
                  <p class="small text-muted mb-0">Followers</p>
                </a>
              </div>
              <div class="px-3 w-100">
                <a href="/profile/<%= profile.id %>/following">
                  <p class="mb-1 h5"><%= profile.following.length %></p>
                  <p class="small text-muted mb-0">Following</p>
                </a>
              </div>

            </div>
          </div>

          <div class="card-body p-4 text-black">

            <div class="mb-5">
              <p class="lead fw-normal mb-1">Followers</p>

              <%# if no followers %>
              <% if(!followers.length) { %>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <div class="row px-3">
                    No followers yet!
                  </div>
                </div>
              <%# if followers %>
              <% } else { %>
                <% for(let i = 0; i < followers.length; i++) { %>
                  <div class="p-4" style="background-color: #f8f9fa;">
                    <div class="row">
  
                      <div class="mt-3 mb-4 col-2">
                        <img src="<%= followers[i].pfp %>"
                          class="rounded-circle img-fluid"" />
                      </div>
                      <div class="col-10">
    
                        <h5>
                          <a href="/profile/<%= followers[i].id %>"><%= followers[i].userName %></a>
                        </h5>
                        <% if(followers[i].name) { %>
                          <h6><%= followers[i].name %></h6>
                        <% } %>
                        
                        <p>
                        <%# if this person isn't you, include follow info%>
                        <% if(followers[i].id !== user.id) { %>
                          <%# if this person also follows you %>
                          <% if(followers[i].followers.includes(user.id)) { %>
                              This person follows you.
                          <%# if this person does not follow you %>
                          <% } else { %>
                            This person does not follow you.
                          <% } %>
                        <% } %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% } %>
              <% } %>


            </div>
            
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>