<%- include('partials/header') -%>

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background: linear-gradient(
            to bottom,
            hsla(0, 0%, 0%, 0),
            hsla(0, 0%, 0%, 0.8)
            ), url(<%= profile.pfh %>); height:200px; background-position: center; background-size: cover;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <!-- Profile pic -->
              <img src="<%= profile.pfp %>"
                alt="Profile picture" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
                <%# if this profile is the user's page, allow to edit %>
                <% if(profile.id === user.id) { %>
                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                  Edit profile
                  </button>
                <%# if this profile not the user's page %>
                <% } else { %>
                  <%# if they are not following them, show follow button %>
                  <% if(!(user.following.includes(profile.id))) { %>
                  <form
                  class="col-1"
                  action="/profile/follow/<%= profile.id %>?_method=PUT"
                  method="POST"
                  >
                    <button class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;" type="submit">Follow</button>
                  </form>
                  <% } %>
                  <%# if they are following them, show following %>
                  <% if(user.following.includes(profile.id)) { %>
                    <form
                    class="col-1"
                    action="/profile/unfollow/<%= profile.id %>?_method=PUT"
                    method="POST"
                    >
                      <button class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;" type="submit">Unfollow</button>
                    </form>
                  <% } %>
                <% } %>
            </div>
            <div class="ms-3" style="margin-top: 160px;">
              <h5 class="text-light">
                <% if(profile.displayName) { %>
                  <%= profile.displayName %>
                <% } else { %>
                  <%= profile.userName %>
                <% } %>
              </h5>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"><%= branchCount %></p>
                <p class="small text-muted mb-0">Branches</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5"><%= momentCount %></p>
                <p class="small text-muted mb-0">Moments</p>
              </div>
              <div class="px-3">
                <a href="/profile/<%= profile.id %>/followers">
                  <p class="mb-1 h5"><%= profile.followers.length %></p>
                  <p class="small text-muted mb-0">Followers</p>
                </a>
              </div>
              <div>
                <a href="/profile/<%= profile.id %>/following">
                  <p class="mb-1 h5"><%= profile.following.length %></p>
                  <p class="small text-muted mb-0">Following</p>
                </a>
              </div>
            </div>
          </div>

          <div class="card-body p-4 text-black">

            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <% if(!profile.about) { %>
                  <p class="font-italic mb-1">Tell us about yourself!</p>
                <% } else { %>
                  <p><%= profile.about %></p>
                <% } %>
              </div>
            </div>

            <%# if user has created at least one moment %>
            <% if(randomMoment && profile.id === user.id) { %>
              <div class="mb-5">
                <p class="lead fw-normal mb-1">Random moment</p>
                <div class="p-4" style="background-color: #f8f9fa;">
  
                <div class="row g-2">
                  
                  <%# Link to Branch %>
                  <a href="/timelines/<%= randomBranch._id %>">
                    <p><%= randomBranch.timelineName %></p>
                  </a>
  
                  <div class="col mb-2 justify-content-end align-self-end">
                    <h6>
                      <%= randomMoment.date.toLocaleString("en-US", { dateStyle: "full" }) %>
                    </h6>
                    <div class="timeline-text">
                        <% if(randomMoment.momentType === 'journal') { %>
                            <h6 class="text-dark"><i class="fas fa-pen-alt" aria-hidden="true"></i> Journal entry:</h6>
                            <span><%= randomMoment.journalEntry %></span>
                        <% } else if(randomMoment.momentType === 'twitter') { %>
                            <h6 class="text-dark"><i class="fab fa-twitter" aria-hidden="true"></i> Tweet:</h6>
                            <span>this has a tweet id of <%= randomMoment.tweetId %></span>
                        <% } else if(randomMoment.momentType === 'location') { %>
                            <h6 class="text-dark"><i class="fas fa-map-marker" aria-hidden="true"></i> Location:</h6>
                            <span><%= randomMoment.location %></span>
                        <% } else if(randomMoment.momentType === 'photo') { %>
                            <img src="<%= randomMoment.momentImage %>" class="img-thumbnail" style="height: 30rem">
                            <!-- <div class=".img-fluid" style="height: 50vh; background: url(<%= randomMoment.momentImage %>); background-size: cover; background-position: center;">
                            </div> -->
                        <% } %>
                  </div>
                  </div>
                </div>
              </div>
              </div>
            <% } %>

            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Public branches</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>

            <%# Count of public branches is 0%>
            <% if(!timelines.length) { %>
              <div>Nothing to see here!</div>
            <% } %>

            <% for(let i = 0; i < timelines.length; i++) { %>
              <% if(timelines[i].privacy === 'public') { %>
                <%# if an even number, start new row %>
                <% if(i % 2 === 0 || i === 0) { %>
                  <div class="row g-2">
                <% } %>
  
                <%# Link and image to Branch %>
                <div class="col mb-2">
                  <a href="/timelines/<%= timelines[i]._id %>">
                    <p><%= timelines[i].timelineName %></p>
                    <div class="w-100 rounded-3" style="height: 12rem; background: url(<%= timelines[i].timelineThumb %>); background-size: cover; background-position: center;">
                    </div>
                  </a>
                </div>
  
                <%# if odd number, end row %>
                <% if(i % 2 !== 0 || timelines.length === 1) { %>
                  </div>
                <% } %>
              <% } %>

            <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Edit profile modal -->
<div class="col">
  <div class="modal fade" id="editProfileModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Edit your profile</h1>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="rounded-top text-white d-flex flex-row mb-3" style="background-color: #8E5D8E; background: url(<%= profile.pfh %>); height:200px; background-position: center; background-size: cover;">
            <img src="<%= profile.pfp %>"
                  alt="Profile picture" class="img-fluid img-thumbnail m-auto"
                  style="width: 150px; z-index: 1">
          </div>
          
            <form action="/profile/<%= user._id %>/editProfile?_method=PUT"
              method="POST" enctype="multipart/form-data">

              <div class="mb-3">
                <label for="editPfp" class="form-label">Profile picture</label>
                <input type="file" class="form-control" id="editPfp" name="pfp">
              </div>
              <div class="mb-3">
                <label for="editPfh" class="form-label">Header</label>
                <input type="file" class="form-control" id="editPfh" name="pfh">
              </div>
              <div class="mb-3">
                <label for="displayName" class="form-label">Display Name</label>
                <input type="text" class="form-control" id="displayName" name="displayName" placeholder="<%= user.displayName %>">
              </div>
              <div class="mb-3">
                <label for="about">About:</label><br>
                <textarea id="about" name="about"
                rows="5" cols="45" placeholder="Tell us about yourself!"><% if(user.about) { %><%= user.about %><% } %></textarea>
              </div>
              <button type="submit" class="btn btn-dark btn-sm text-nowrap" value="Upload">Submit</button>
            </form>
          </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>