<%- include('partials/header') -%>

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #8E5D8E; background: url(<%= profile.pfh %>); height:200px; background-position: center; background-size: cover;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <!-- Profile pic -->
              <img src="<%= profile.pfp %>"
                alt="Profile picture" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
                <%# if this profile is the user's page, allow to edit %>
                <% if(profile.id === user.id) { %>
                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit profile
                  </button>
                <%# if this profile not the user's page %>
                <% } else { %>
                  <%# if they are not following them, show follow button %>
                  <% if(!(user.following.includes(profile.id))) { %>
                  <form
                  class="col-1"
                  action="/post/follow/<%= profile.id %>?_method=PUT"
                  method="POST"
                  >
                    <button class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;" type="submit">Follow</button>
                  </form>
                  <% } %>
                  <%# if they are following them, show following %>
                  <% if(user.following.includes(profile.id)) { %>
                    <form
                    class="col-1"
                    action="/post/unfollow/<%= profile.id %>?_method=PUT"
                    method="POST"
                    >
                      <button class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;" type="submit">Unfollow</button>
                    </form>
                  <% } %>
                <% } %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 class="text-light">
                <% if(profile.name) { %>
                  <%= profile.name %>
                <% } else { %>
                  <%= profile.userName %>
                <% } %>
              </h5>
              <p>New York</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"><%= branchCount %></p>
                <p class="small text-muted mb-0">Branches</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5"><%= momentCount %></p>
                <p class="small text-muted mb-0">Moments</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5"><%= profile.followers.length %></p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5"><%= profile.following.length %></p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>

          <div class="card-body p-4 text-black">

            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit minus quam totam commodi deserunt nisi quos, assumenda at perspiciatis ipsa praesentium tenetur labore aliquid corporis quibusdam unde, quia, corrupti facilis?</p>
                <p class="font-italic mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic ullam laborum sequi autem numquam officia tenetur eveniet unde qui, similique animi cupiditate quidem facere obcaecati tempore enim corrupti deserunt! Asperiores.</p>
              </div>
            </div>

            <div class="mb-5">
              <p class="lead fw-normal mb-1">Random moment</p>
              <div class="p-4" style="background-color: #f8f9fa;">

              <div class="row g-2">
                
                <%# Link and image to Branch %>
                <div class="col mb-2">
                  <a href="/timelines/<%= randomBranch._id %>">
                    <p><%= randomBranch.timelineName %></p>
                    <div class="w-100 rounded-3" style="height: 12rem; background: url(<%= randomBranch.timelineThumb %>); background-size: cover; background-position: center;">
                    </div>
                  </a>
                </div>

                <div class="col mb-2 justify-content-end align-self-end">
                  <h6>
                    <%= randomMoment.date.toLocaleString("en-US", { dateStyle: "full" }) %>
                  </h6>
                  <div class="timeline-text">
                      <% if(randomMoment.momentType === 'journal') { %>
                          <h6 class="text-dark"><i class="fas fa-pen-alt" aria-hidden="true"></i> Journal entry:</h6>
                          <span><%= randomMoment.journalEntry %></span>
                      <% } else if(randomMoment.momentType === 'twitter') { %>
                          <h6 class="text-dark"><i class="fab fa-twitter" aria-hidden="true"></i> Tweet:</h6>
                          <span>this has a tweet id of <%= randomMoment.tweetId %></span>
                      <% } else if(randomMoment.momentType === 'location') { %>
                          <h6 class="text-dark"><i class="fas fa-map-marker" aria-hidden="true"></i> Location:</h6>
                          <span><%= randomMoment.location %></span>
                      <% } else if(randomMoment.momentType === 'photo') { %>
                          <div class="w-100 rounded-3" style="height: 10rem; background: url(<%= randomMoment.momentImage %>); background-size: cover; background-position: center;">
                          </div>
                      <% } %>
                </div>
                </div>
              </div>
            </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Public branches</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>

            <%# Count of public branches is 0%>
            <% if(!timelines.length) { %>
              <div>Nothing to see here!</div>
            <% } %>

            <% for(let i = 0; i < timelines.length; i++) { %>
              <% if(timelines[i].privacy === 'public') { %>
                <%# if an even number, start new row %>
                <% if(i % 2 === 0 || i === 0) { %>
                  <div class="row g-2">
                <% } %>
  
                <%# Link and image to Branch %>
                <div class="col mb-2">
                  <a href="/timelines/<%= timelines[i]._id %>">
                    <p><%= timelines[i].timelineName %></p>
                    <div class="w-100 rounded-3" style="height: 12rem; background: url(<%= timelines[i].timelineThumb %>); background-size: cover; background-position: center;">
                    </div>
                  </a>
                </div>
  
                <%# if odd number, end row %>
                <% if(i % 2 !== 0 || timelines.length === 1) { %>
                  </div>
                <% } %>
              <% } %>

            <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>