<%- include('partials/header') -%>

<%# Modals %>
<div class="d-flex justify-content-end m-5">
  <div class="row">
    <%# New branch modal %>
    <div class="col">
      <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#newBranchModal">
        New branch
      </button>

      <div class="modal fade" id="newBranchModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Create a new branch</h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form action="/timelines/createTimeline" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="privacy" id="public" autocomplete="off" value="public" >
                    <label class="btn btn-outline-dark" for="public">Public</label>
                  
                    <input type="radio" class="btn-check" name="privacy" id="private" autocomplete="off" value="private" checked>
                    <label class="btn btn-outline-dark" for="private">Private</label>
                  
                  </div>
                </div>
                <div class="mb-3">
                  <label for="timelineName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="timelineName" name="title">
                </div>
                <div class="mb-3">
                  <label for="timelineThumb" class="form-label">Thumbnail</label>
                  <input type="file" class="form-control" id="timelineThumb" name="file">
                </div>
                <div class="mb-3">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description"
                  rows="5" cols="45"></textarea>
                </div>
                <%# hidden %>
                <input id="firstDate" name="firstDate" value="" hidden>
                <input id="lastDate" name="lastDate" value="" hidden>
                <button type="submit" class="btn btn-dark btn-sm text-nowrap" value="Upload">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# Info modal %>
    <div class="col">
      <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#infoModal">
        Information
      </button>

      <div class="modal fade" id="infoModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Information</h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Timeline helps you organize your favorite Moments in life by collecting them in Branches. Public branches can be viewed by others on Timeline.
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Timeline %>
<section class="timelineWrapper row">  

    <div id="timelineDates" class="col-4">
      <div id="list-example" class="list-group sticky-top">
        <%# loop through all groupings by same year and month%>
        <% for(let i = 0; i < timelinesGrouped.length; i++) { %>
          <% const timeGroup = timelinesGrouped[i] %>
        
          <a class="list-group-item list-group-item-action" href="#<% if(timeGroup._id.year) { %>group-<%= timeGroup._id.year %><% } else { %>ungrouped<% } %>">
            <% if(timeGroup._id.year) { %>
              <%= timeGroup._id.year %>
            <% } else { %>
                Create a moment for this branch to record dates!
            <% } %>
          </a>
          
        <% } %>
      </div>
    </div>

    <div id="timelineBranches" class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <%# loop through all groupings by same year and month%>
        <% for(let i = 0; i < timelinesGrouped.length; i++) { %>
    
          <% const timeGroup = timelinesGrouped[i] %>
          <% if(timeGroup._id.year) { %>
            <div class="row" id="group-<%= timeGroup._id.year %>">
          <% } else { %>
            <div class="row" id="ungrouped">
          <% } %>
            <%= timeGroup._id.year %>
            <%# loop through each branch per grouping %>
            <% for(let j = 0; j < timeGroup.branchData.length; j++) { %>
              <% const branchData = timeGroup.branchData[j] %>
              <a href="/timelines/<%= branchData.branchId %>">
                <div class="card mb-3">
                  <img class="card-img-top" src="<%= branchData.timelineThumb %>" alt="Card image cap" style="height: 100px;">
                  <div class="card-body">
                    <h5 class="card-title">
                      <% if(branchData.firstDate) { %>
                        <%= branchData.firstDate.toLocaleString('en-US', { month: 'long' }) %>
                      <% } %>
                    </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </a>
            <% } %>
          </div>
          
        <% } %>
      </div>
    </div>

    <div class="col-8">
    </div>
  
</section>

<%- include('partials/footer') -%>