<%- include('partials/header') -%>

<div class="d-flex justify-content-end m-5">
  <div class="row">
    <!-- New branch modal -->
    <div class="col">
      <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#newBranchModal">
        New branch
      </button>

      <div class="modal fade" id="newBranchModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Create a new branch</h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form action="/timelines/createTimeline" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="timelineName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="timelineName" name="title">
                </div>
                <div class="mb-3">
                  <label for="timelineThumb" class="form-label">Thumbnail</label>
                  <input type="file" class="form-control" id="timelineThumb" name="file">
                </div>
                <div class="mb-3">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description"
                  rows="5" cols="45"></textarea>
                </div>
                <%# hidden %>
                <input id="firstDate" name="firstDate" value="" hidden>
                <input id="lastDate" name="lastDate" value="" hidden>
                <button type="submit" class="btn btn-dark btn-sm text-nowrap" value="Upload">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Info modal -->
    <div class="col">
      <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#infoModal">
        Information
      </button>

      <div class="modal fade" id="infoModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Information</h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus aliquam cum porro provident culpa alias voluptates, architecto impedit nostrum repudiandae soluta itaque illum voluptatibus totam deserunt nemo consequuntur non!
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Page -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Your Timeline</h1>
        <h2 class="mb-5">
          <% if(!timelines.length) { %>
            You have no branches

            <div class="row">
              <!-- New branch modal -->
              <div class="col">
                <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#newBranchModal">
                  Create new branch
                </button>
              </div>
            </div>
          <% } else { %>
            Branches
          <% } %>
        </h2>  
        <!-- Timeline Area-->
        <div class="apland-timeline-area">
          <% for(let i = 0; i < timelines.length; i++) {%>
            <!-- Single Timeline Content-->
            <div class="single-timeline-area">
              <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                <!-- Timeline year -->
                <% if(timelines[i].firstDate) { %>
                  <p><%= timelines[i].firstDate.toLocaleString(('en-us'), { year: 'numeric' }) %></p>
                <% } %>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                  <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                    <div class="timeline-text">
                      <a href="/timelines/<%= timelines[i]._id%>">
                        <h6><%= timelines[i].timelineName %></h6>
                        <img class="img-fluid" src="<%= timelines[i].timelineThumb %>">
                      </a>
                      <% if(timelines[i].firstDate) { %>
                        <span><%= timelines[i].firstDate.toLocaleString(('en-us'), { dateStyle: 'full' }) %> - <%= timelines[i].lastDate.toLocaleString(('en-us'), { dateStyle: 'full' }) %></span>
                      <% } %>
                      <% if(timelines[i].description) { %>
                        <p><%= timelines[i].description %></p>
                      <% } %>

                      <div class="row justify-content-between">
                        <%if(timelines[i].user == user.id){ %>
                          <form
                            action="/timelines/deleteBranch/<%= timelines[i]._id %>?_method=DELETE"
                            method="POST"
                            class="col-3"
                          >
                            <button class="btn btn-light fa fa-trash" type="submit"></button>
                          </form>
                          <%}%>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
      
<%- include('partials/footer') -%>