<%- include('partials/header') -%>

<div class="d-flex justify-content-end m-5">
  <div class="row">
    <%# New branch modal %>
    <div class="col">
      <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#newBranchModal">
        New branch
      </button>

      <div class="modal fade" id="newBranchModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Create a new branch</h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form action="/timelines/createTimeline" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="privacy" id="public" autocomplete="off" value="public" >
                    <label class="btn btn-outline-dark" for="public">Public</label>
                  
                    <input type="radio" class="btn-check" name="privacy" id="private" autocomplete="off" value="private" checked>
                    <label class="btn btn-outline-dark" for="private">Private</label>
                  
                  </div>
                </div>
                <div class="mb-3">
                  <label for="timelineName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="timelineName" name="title">
                </div>
                <div class="mb-3">
                  <label for="timelineThumb" class="form-label">Thumbnail</label>
                  <input type="file" class="form-control" id="timelineThumb" name="file">
                </div>
                <div class="mb-3">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description"
                  rows="5" cols="45"></textarea>
                </div>
                <%# hidden %>
                <input id="firstDate" name="firstDate" value="" hidden>
                <input id="lastDate" name="lastDate" value="" hidden>
                <button type="submit" class="btn btn-dark btn-sm text-nowrap" value="Upload">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# Info modal %>
    <div class="col">
      <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#infoModal">
        Information
      </button>

      <div class="modal fade" id="infoModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Information</h1>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Timeline helps you organize your favorite Moments in life by collecting them in Branches. Public branches can be viewed by others on Timeline.
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm text-nowrap" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%# Page %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Your Timeline</h1>
        <h2 class="mb-5">
          <% if(!timelines.length) { %>
            You have no branches

            <div class="row">
              <%# New branch modal %>
              <div class="col">
                <button class="btn btn-light btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#newBranchModal">
                  Create new branch
                </button>
              </div>
            </div>
          <% } else { %>
            Branches
          <% } %>
        </h2>  
        
        <%# Timeline start %>
        <%# Loop through each unique year for each branch %>
        <% for(const year in branchByYear) { %>
          <%# One timeline area/side bar for each year   %>
          <%# Timeline Area %>
          <%# Side bar and year %>
          <div class="apland-timeline-area">
            <%# Single Timeline Content %>
            <div class="single-timeline-area">
              <div class="timeline-date branch wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                <%# Timeline year %>
                <% if(branchByYear[year][0].firstDate) { %>
                  <p><%= branchByYear[year][0].firstDate.toLocaleString(('en-us'), { year: 'numeric' }) %></p>
                <% } %>
              </div>
          <%# Side bar and year end %>
          <section class="row">
            <%# Loop through an array of branch objects in one year %>
            <% for(let i = 0; i < branchByYear[year].length; i++) { %>
              <%# Conditionals for size of div for length of branch by year %>
              <% let sizeForOne = 'col-lg-8'%>
              <% let sizeForMore = 'col-lg-4'%>
              <div id="branchContainer<%= branchByYear[year][i]._id %>" class="col-12 col-md-6 
              <% if(branchByYear[year].length == 1) { %>
                <%= sizeForOne %>
              <% } else if(branchByYear[year].length > 1) {%>
                <%= sizeForMore %>
              <% } %>
              ">
            <%# Branch object %>
            <% let currentBranch = branchByYear[year][i] %>
              <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <div class="timeline-icon"><i class="fab fa-pagelines" aria-hidden="true"></i></div>
                <div class="timeline-text">
                  <a href="/timelines/<%= currentBranch._id %>">
                    <h6 class="timeline-name text-dark"><%= currentBranch.timelineName %></h6>
                    <img class="img-fluid" src="<%= currentBranch.timelineThumb %>">
                  </a>
                  <% if(currentBranch.firstDate) { %>
                    <span class="branch-dates"><%= currentBranch.firstDate.toLocaleString(('en-us'), { dateStyle: 'short' }) %> - <%= currentBranch.lastDate.toLocaleString(('en-us'), { dateStyle: 'short' }) %></span>
                  <% } %>
                  <% if(currentBranch.description) { %>
                    <p class="branch-description"><%= currentBranch.description %></p>
                  <% } %>

                  <div class="row justify-content-between mb-3">

                    <%if(currentBranch.user == user.id){ %>
                      <%# Edit branch %>
                      <div class="col">
                        <button class="btn btn-light far fa-edit" type="submit" data-toggle="collapse" data-target="#editBranch<%= currentBranch._id %>" aria-expanded="false" aria-controls="editBranch<%= currentBranch._id %>"></button>
                      </div>

                      <%# Delete branch %>
                      <div class="col">
                        <form
                          action="/timelines/deleteBranch/<%= currentBranch._id %>?_method=DELETE"
                          method="POST"
                          class="col-3"
                        >
                          <button class="btn btn-light fa fa-trash" type="submit"></button>
                        </form>
                      </div>
                      <%}%>
                  </div>

                  <%# Edit branch collapsible %>
                  <div class="row collapse" id="editBranch<%= currentBranch._id %>">
                    <div class="col">
                      <form
                      action="/timelines/<%= currentBranch._id %>/editBranch?_method=PUT"
                      method="POST"
                      enctype="multipart/form-data"
                      >
                        <%# Edit privacy option %>
                        <div class="row mb-3">
                          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="privacy" id="editPublic" autocomplete="off" value="public" 
                            <% if(currentBranch.privacy === 'public') { %>
                              checked
                            <% } %>
                            >
                            <label class="btn btn-outline-dark" for="editPublic">Public</label>
                          
                            <input type="radio" class="btn-check" name="privacy" id="editPrivate" autocomplete="off" value="private" 
                            <% if(currentBranch.privacy === 'private') { %>
                              checked
                            <% } %>
                            >
                            <label class="btn btn-outline-dark" for="editPrivate">Private</label>
                          
                          </div>
                        </div>

                        <%# Change photo %>
                        <div class="mb-3">
                          <label for="timelineThumb" class="form-label">Thumbnail</label>
                          <input type="file" class="form-control" id="timelineThumb" name="file">
                        </div>

                        <%# Edit description %>
                        <div class="mb-3">
                          <label for="description">Description:</label>
                          <textarea id="description" name="description"
                          rows="5" cols="45"><%= currentBranch.description %></textarea>
                        </div>

                        <div class="row mb-3">
                          <div class="col">
                            <button type="submit" class="btn btn-primary" value="Upload">Save</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <% } %>
          </section>
        </div>
        <% } %>
      </div>
      <%# Timeline area end %>

    </div>
  </div>

<%- include('partials/footer') -%>